body {
  padding: 20px 250px;
  margin: 0;
  font-size: 22px;
  background-color: rgba(34,34,34,255);
  color: rgb(179, 199, 202);
  font-size: 20px;
} 
p{
  font-size: 18px;
}
#container{
  width: 90%;
  background-color: rgba(33,43,45,255);
}
.img-container{
  width: 950px;
  height: 229px;
  border: 1px solid rgb(160, 156, 156);
  object-fit: cover;
margin: 1% 15% 0 15%;
background-image: url(/home/achraf/Downloads/earth.jpeg);
background-size: 100%;
}

.img1{
color: rgb(255, 255, 255);
padding-left: 10%;
}


.navig ul {
  background-color: rgba(51,61,63,255);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  padding: 15px;
  text-align: center;
  margin-left: 15%;  
  margin-right: 9.5%;
}
.navig li {
  border-right: rgba(119, 109, 109, 0.527) 1px solid;
}
.navig a{
  color: rgb(155,173,176);
  text-decoration: none;
}
#li4 {
  border-right: none;
}
.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding-left: 15%;
}
.left-menu li a {
  font-size: 18px;
  color:rgb(179, 199, 202);
}
.bottom-R {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bottom-R .sub {
  border-right: rgba(255, 255, 255, 0.527) 1px solid;
  margin: 0% 5%;
}

.bottom-R button {
  background-color: rgba(154, 174, 180,2 55);
  padding: 10px;
  width: 40%;
  font-size: 16px;
}
.text-R{
  margin-left: 2%;
  margin-right: 15%;
}
* {box-sizing: border-box}

  input[type=text], input[type=email] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 5px;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: rgb(224, 217, 217);
  outline: none;
}

.container hr {
  border-style:dashed;
margin: 10px 15% 10px  12%;
  width: 75%;
}

#hr1{
  border-style:dashed;
  margin: 10px 25% 10px  25%;
    width: 50%;
  }


.container button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 0 28%;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-size: 20px;
}
.container h1,h5{
  text-align: center;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
}

#form{
  margin-left: 35%;
}
footer {
  border-top: rgba(102, 100, 100, 0.527) 1px solid;
  padding: 1%;
  margin: 2%;
  text-align: center;
  color: rgb(179, 199, 202);
}